* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
    font-family: 'Lora', serif;
    font-size:1em;
    height:100%;
}

img, iframe{
  max-width: 100%;
}

html{
    height:100%;
}


/*-------------------------------------------------------------------------------------------headings------------------------------ */

p{
    line-height:20px;
}


a{
    text-decoration:none;
    color:black;
}




h2{
    font-family: 'Lora', serif;
    font-size: 31px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: 4px;
    padding-top: 1em;
    
}






/*----------------------------------------------------------------------------------------------end headings----------------------- */






/***********************************************************************************************HEADER**************************************************************************************************************************/


/* nav header */


.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Lora', serif;
    color:#4D4748;
    
}

.header ul {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size:18px;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 10px 10px;
    color: #4D4748;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color:gray;
}

.header li a:active {
    text-decoration-color:grey;
    
}


.navhover a{
    color:gray;
}
.navactive{
    text-decoration-color:grey;
    text-decoration-line: line-through;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}





.menu-icons{
    display:inline-block;
    float:right;
    
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float:right;
      display:inline-block;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}



.section-title{
    margin-top:87px;
    color:black;
    font-size:20px;
    font-family: 'Lora', serif;
    text-align:center;
}


.title{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    padding: 1em 6.4em;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacer{
    padding:50px;
    clear:both;
}

.spacerabout{
    padding:12px;
}


.headspace{
    padding: 20px;
}

.logotype{
    display:inline-block;
    float:left;
}



.svg_custom{
    max-width: 60px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    
    
}

.svg_logo{
    max-width:250px;
}






/***********************************************************************************************ENDHEADER**************************************************************************************************************************/















/***********************************************************************************************BODY/MAININFO**************************************************************************************************************************/



li{
    list-style:none;
    text-decoration:none;
}


.videomain{
    width:50%;
    float:left;
    padding:15px;
    
}

.center{
    text-align:center;
}




.about1{
    text-align: center;
    line-height: 35px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
}



.maincontent{
    padding: 40px;
    
    margin: 0 auto;
}



.breakline {
    max-width: 800px;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin: 60px auto;
}



.columnvideo{
    float: right;
    width: 50%;
    padding: 10px;
    display: block;
    
    
}
.columntext{
    width:38%;
    margin-top:3em;
    margin-bottom:4em;
    float: right;
    margin-right: 2%;
    display: block;
}




.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.flex-containertext{
    display: block;
    float:right;
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    font-weight: 300;
    list-style-type: none;
    width: 50%;
    
    
}


.containertext{
    padding:10px;
    margin-left:50px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.grid-item, .grid-sizer {
     padding: .5em;

}



.grid-item{
     position: relative;
}



.textinfo, textlist{
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    padding: 0.5em 0;
    font-weight: 300;
    list-style-type: none;

}


.text-breakline{
    width: 70%;
    height: 1px;
    background: rgba(0,0,0,0.25);
    margin: 1.5em 0;
}



.buttonmain{
    margin-top: 100px;
    text-align: center;
}




/* these are the work section buttons*/
button{
    padding:.5em;
    margin:1em .5em;
    border:none;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #fdfd96;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lora', serif;
    font-weight:bold;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.button-group.filter-button-group{
     display: block;
     width: 100%;
}


button:hover{
     background-color:#ffffdb;
    
}

button.is-checked{
    text-decoration:line-through;
    text-decoration-color:#fdfd96;
}
/* this is the end of the work section buttons content.*/


/****************this is the info for the slider******************/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
  height: 400px;
  
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #4D4748;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #fdfd96;
    background-color: rgba(0, 0, 0, 0.8)
}



.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}




/*********end of the info for the slider***************/


/***********************************************************************************************ENDBODY/MAININFO**************************************************************************************************************************/























/***********************************************************************************************ABOUTSECTION**************************************************************************************************************************/

.middle{
    padding:10px 15px;
    text-align:center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.round{
    max-width:290px;
    border-radius: 50%;
}

.columnabout{
    text-align: center;
    padding: 10px 15px;
    margin-right:auto;
    margin-left:auto;
}

.aboutbreakline{
    max-width:800px;
    height:1px;
    background: rgba(0,0,0,0.1);
    margin:60px auto;
}


.aboutinfo{
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}



#resume{
    text-align: center;
}

.resume{
        width:70%;
        
    }


.download{
    text-align: center;
    
}

.download:hover{
    color:#fdfd96;
    text-decoration: underline;
}

.resumelink{
    color:#4D4748;
}


/***********************************************************************************************ENDABOUTSECTION**************************************************************************************************************************/
























/***********************************************************************************************CONTACTSECTION**************************************************************************************************************************/

.tagline {
    text-align: center;
    font-size: 38px;
    font-weight: 100;
    font-family: 'Lora', serif;
    color: #000;
    line-height: 48px;
    padding: 1em 6.4em;
    margin-top:60px;
}


.centerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contacticon{
    display:block;
    text-align: center;
    font-size: 18px;
    padding:10px;
    font-family: 'Raleway', sans-serif;
}


.formtag{
    text-align: center;
    font-size: 18px;
    padding:20px;
    font-family: 'Raleway', sans-serif;
    
}
.name{
    max-width:175px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.contact{
    width:100%;
  margin: 0 auto;
  max-width: 800px;
  background-color:skyblue;
  padding:12px 15px;
  position: relative;
    
    
}


/* this is the form on the contact page*/
form{
  width:80%;
  margin: 0 auto;
  max-width: 800px;
  background-color:#fff7d8;
  padding:12px 15px;
  position: relative;

}


label{
  display: block;
  padding: .5em 0;
  font-family: 'Lora', serif;
  font-weight:bold;
  color:#0F2736;
}

input, textarea{
     width: 100%;
     height: 30px;
     padding:12px 15px;
     border:2px;
     border-radius: 12px;
     border-color: #FFF4AC;
     box-sizing: border-box;
     resize: none;
     box-sizing: border-box;
    font-family: 'Lora', serif;
}

textarea{
     height: 200px;
}


select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 12px;
}

option{
     border-radius: 12px;

}

#name{
  font-family: 'Lora', serif;
}

/* style for the submit button*/
#submit{
  float:right;
  border-radius: 12px;
  padding:1em;
  padding:.5em;
  margin:1em .5em;
  cursor: pointer;
  color:#0F2736;
  font-size: 17px;
  font-family: 'Lora', serif;
  font-weight:bold;
  text-transform: uppercase;
}

button{
    border-radius:12px;
    color:#4D4748;
    
}
.antispam{
     display: none;
}

#thanks{
     margin: 0 auto;
}

form::after{
  content:"";
  clear:both;
  display:table;
}

/* this is the end of the form content on the contact page*/

/***********************************************************************************************ENDCONTACTSECTION**************************************************************************************************************************/











/***********************************************************************************************FOOTERINFORMATION**************************************************************************************************************************/

.footer{
	font-family: 'Lora', serif;
    font-size:20px;
    margin-top:180px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.footer-company-name{
    padding-top:12px;
}


/***********************************************************************************************ENDFOOTERINFORMATION**************************************************************************************************************************/ 
















/*MEDIA QUERIES*/
/* The styles above apply to the desktop layout, the media queries you add below change those styles for smaller screens */

/*applies only to screens under 768px - mobile*/
@media only screen and (max-width: 768px){
    
 /***********************************************************************************************HEADER**************************************************************************************************************************/
/* header */





.section-title{
    margin-top:87px;
    color:black;
    font-size:20px;
    font-family: 'Lora', serif;
    text-align:center;
}


.title{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    padding: 1em;
}


a{
    text-decoration:none;
    color:black;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacer{
    padding:50px;
    clear:both;
}

.spacerabout{
    padding:12px;
}


.headspace{
    padding: 20px;
}

.logotype{
    display:inline-block;
    float:left;
}


.logo{
    font-size:25px;
    text-decoration:none;
    font-family: 'Lora', serif;
    padding: 5px;
    max-width: 75px;
    text-align: center;
}





/* nav header */


.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Lora', serif;
    color:#4D4748;
    
}

.header ul {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size:18px;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    color: #4D4748;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color:#F2D543;
}

.header li a:active {
  color:#f2d543;
}



.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/***********************************************************************************************ENDHEADER**************************************************************************************************************************/















/***********************************************************************************************BODY/MAININFO**************************************************************************************************************************/



li{
    list-style:none;
    text-decoration:none;
}


.videomain{
    width:100%;
    padding:15px;
    
}

.center{
    text-align:center;
}

.active{
  background-color: #fdfd96;
  color: white;
}



.about1{
    text-align: center;
    line-height: 35px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
}



.maincontent{
    padding: 40px;
    max-width: 1280px;
    margin: 0 auto;
}



.breakline {
    max-width: 300px;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin: 60px auto;
}


.flex-container {
    display: block;
    flex-direction: column;
}


.flex-containertext{
    display: block;
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    font-weight: 300;
    list-style-type: none;
    width: 100%;
    
    
}


.containertext{
    padding:10px;
    margin-left:50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.grid-item, .grid-sizer {
     padding: .5em;

}



.grid-item{
     position: relative;
}




h2{
    font-family: 'Lora', serif;
    font-size: 31px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: 4px;
    padding-top: 1em;
    
}


.textinfo, textlist{
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    padding: 0.5em 0;
    font-weight: 300;
    list-style-type: none;

}


.text-breakline{
    max-width: 300px;
    height: 1px;
    background: rgba(0,0,0,0.25);
    margin: 1.5em 0;
}



.buttonmain{
    margin-top: 100px;
    text-align: center;
}




/* these are the work section buttons*/
button{
     padding:.5em;
     margin:1em .5em;
     border:none;
     border-radius: 12px;
     background-color:#fdfd96;
     cursor: pointer;
     color:#4D4748;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     font-family: 'Lora', serif;
     font-weight:bold;
     text-transform: uppercase;
     list-style: none;
     text-decoration: none;
}

.button-group.filter-button-group{
     display: grid;
     width: 100%;
}


button:hover{
     background-color:#ffffdb;
}

button.is-checked{
     text-decoration: overline;
}
/* this is the end of the work section buttons content.*/
/***********************************************************************************************ENDBODY/MAININFO**************************************************************************************************************************/























/***********************************************************************************************ABOUTSECTION**************************************************************************************************************************/

.middle{
    padding:10px 15px;
    text-align:center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.round{
    max-width:290px;
    border-radius: 50%;
}

.columnabout{
    text-align: center;
    padding: 10px 15px;
    margin-right:auto;
    margin-left:auto;
}

.aboutbreakline{
    max-width:300px;
    height:1px;
    background: rgba(0,0,0,0.1);
    margin:60px auto;
}


.aboutinfo{
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}

.resume{
        width:100%;
        
    }


.download{
    text-align: center;
    
}

.download:hover{
    color:#fdfd96;
    text-decoration: underline;
}

.resumelink{
    color:#4D4748;
}


   
    

/***********************************************************************************************ENDABOUTSECTION**************************************************************************************************************************/























/***********************************************************************************************CONTACTSECTION**************************************************************************************************************************/

.tagline {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lora', serif;
    color: #000;
    line-height: 48px;
    padding: 1em;
    margin-top:60px;
}


.centerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contacticon{
    display:block;
    text-align: center;
    font-size: 18px;
    padding:10px;
    font-family: 'Raleway', sans-serif;
}


.formtag{
    text-align: center;
    font-size: 18px;
    padding:20px;
    font-family: 'Raleway', sans-serif;
    
}
.name{
    max-width:325px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.contact{
    width:100%;
  margin: 0 auto;
  max-width: 800px;
  background-color:skyblue;
  padding:12px 15px;
  position: relative;
    
    
}


/* this is the form on the contact page*/
form{
  width:80%;
  margin: 0 auto;
  max-width: 800px;
  background-color:#fff7d8;
  padding:12px 15px;
  position: relative;

}


label{
  display: block;
  padding: .5em 0;
  font-family: 'Lora', serif;
  font-weight:bold;
  color:#0F2736;
}

input, textarea{
     width: 100%;
     height: 30px;
     padding:12px 15px;
     border:2px;
     border-radius: 12px;
     border-color: #FFF4AC;
     box-sizing: border-box;
     resize: none;
     box-sizing: border-box;
    font-family: 'Lora', serif;
}

textarea{
     height: 200px;
}


select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 12px;
}

option{
     border-radius: 12px;

}

#name{
  font-family: 'Lora', serif;
}

/* style for the submit button*/
#submit{
  float:right;
  border-radius: 12px;
  padding:1em;
  padding:.5em;
  margin:1em .5em;
  cursor: pointer;
  color:#0F2736;
  font-size: 17px;
  font-family: 'Lora', serif;
  font-weight:bold;
  text-transform: uppercase;
}

button{
    border-radius:12px;
    color:#4d4748;
    
}
.antispam{
     display: none;
}

#thanks{
     margin: 0 auto;
}

form::after{
  content:"";
  clear:both;
  display:table;
}

/* this is the end of the form content on the contact page*/

/***********************************************************************************************ENDCONTACTSECTION**************************************************************************************************************************/











/***********************************************************************************************FOOTERINFORMATION**************************************************************************************************************************/

.footer{
	font-family: 'Lora', serif;
    font-size:20px;
    margin-top:180px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}




/***********************************************************************************************ENDFOOTERINFORMATION**************************************************************************************************************************/ 
    
    
    
    
    
    
    
    
    
}



   
    
    
    
    
    


 

/*applies only to screens btwn 769px and 992px - tablet*/
@media only screen and (min-width:769px) and (max-width: 992px){

	}
